/* iPad Pro/ iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .banner-title{
        font-size: 9rem;
    }
    .icon{
        font-size: 6rem;
        padding: 1rem;
    }
    .font-size{
        font-size: 1.4rem;
    }
    .project-info-section{
        padding-bottom: -13rem ;
    }
    .home-bg-color{
        min-height: calc(100vh - 60px);
    }
}

/* Mobiles */
@media only screen and (min-width: 200px) and (max-width: 767px){
    .banner-title{
        font-size: 4rem;
    }
    .icon{
        font-size: 4rem;
        padding: 1rem;
    }
    .radius{
        border-radius: 10px;
    }
    .font-size{
        font-size: 1.7rem;
    }
    .project-info-section{
        padding-bottom: 45rem;
    }
    .main-font-size-heading{
        font-size: 4rem;
    }
    .project-heading-font-size{
        font-size: 3rem;
    }
    .btn-size{
        font-size: 2rem;
    }
    .font{
        font-size: 1rem;
    }
    .home-bg-color{
        min-height: calc(100vh - 50px);
    }
}

/* Galaxy Fold */
@media only screen and (min-width: 200px) and (max-width: 280px){
    .icon{
        font-size: 2rem;
        padding: 1rem;
    }
    .font-size{
        font-size: 1rem;
    }
    .project-info-section{
        padding-bottom: 46rem;
    }
    .main-font-size-heading{
        font-size: 4rem;
    }
    .project-heading-font-size{
        font-size: 3rem;
    }
    .btn-size{
        font-size: 2rem;
    }
    .font{
        font-size: 1rem;
    }

}